html {
    touch-action: manipulation;
}

body {
    height: 100%;
    overflow: hidden;
}

.square {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #d6d6d6;
    width: 8vh;
    height: 8vh;
    font-size: xx-large;
    text-align: center;
}
.left {
    border-left: black 2px solid;
}
.right {
    border-right: black 2px solid;
}
.top {
    border-top: black 2px solid;
}
.bottom {
    border-bottom: black 2px solid;
}
.line {
    display: flex;
    justify-content: center;
}
#board {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    justify-content: space-between;
}
header div {
    display: flex;
    justify-content: space-between;
}
header div h4 {
    padding-right: 10px;
}

@media screen and (max-width: 1000px) {
    .square {
        width: 8vw;
        height: 8vw;
        font-size: large;
    }
    header div h4 {
        padding-right: 5px;
    }
}